-if !@users.empty?
  .container
    %h3.text-center Employee's Reports
    = link_to "print", monthly_all_employees_reports_path(:format => 'pdf'), class: 'btn btn-info'
    .export
      .table-responsive
        %table.table-hover.table-bordered{:align => 'center'}
          %tbody
            %tr
              %th.text-center Sr No.
              %th.text-center Emp.ID
              %th.text-center Name
              %th.text-center TotalOrderPrice 
              %th.text-center Subsidy
              %th.text-center CTE

            - @users.each_with_index do |user,i|
              %tr  
              %td.text-center= i+1
              %td.text-center= user.id
              %td.text-center= link_to user.name, individual_employee_last_month_report_path(user.id) 
              %td.text-center ₹ #{user.total}
              %td.text-center ₹ #{user.subsidy}
              %td.text-center ₹ #{user.total - user.subsidy}